.box-swiper-1 {
  &__top-line {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box-swiper__group-btn {
      display: flex;
      gap: 35px;
    }
  }
  &__title-btn {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__btn-all {
    min-width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 14px;
    border-radius: 15px;
    border: 2px solid var(--colof-red);
    font-family: var(--font4);
    font-weight: 500;
    font-size: 20px;
    outline: 1px solid var(--color-body);
    color: var(--color-text-white);
    transition: outline-color 0.4s ease-in-out;

    &:focus,&:focus-visible {
      outline: none;
    }

    &:focus-visible,&:hover,&:active {
      outline-color: var(--colof-red);
    }
  }
  &__title {
    margin-bottom: 0;
  }
  &__group-btn {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__swiper-slide {
    box-sizing: border-box;
    height: auto;
  }
  .card4 {
    &__info {
      padding: 24px;
    }
    &__link {
      margin-bottom: 10px;
      font-size: 18px;
    }
    &__desc {
      margin-bottom: 17px;
      font-size: 16px;
    }
    &__price {
      margin-bottom: 17px;
      font-size: 22px;
    }
  }
  &__mobil-hidden {
    display: none;
  }
}
@media (max-width: 1030px) {
  .box-swiper-1 {
    &__mobil-hidden {
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__btn-all {
      max-width: 300px;
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .box-swiper-1 {
    &__title {
      margin-bottom: 0;
      font-size: 32px;
    }
    &__group-btn {
      gap: 30px;
    }
    .box-swiper__btn {
      svg {
        width: 11px;
        height: 28px;
      }
    }
    .card4 {
      border-radius: 10px;
      &__info {
        padding: 12px;
      }
      &__link {
        margin-bottom: 5px;
      }
      &__desc {
        margin-bottom: 10px;
      }
      &__price {
        margin-bottom: 9px;
      }
    }
  }
}
@media (max-width: 650px) {
  .box-swiper-1 {
    &__top-line {
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 0;
      font-size: 18px;
    }
    &__btn-all {
      font-size: 16px;
    }
  }
}
@media (max-width: 512px) {
  .box-swiper-1 {
    &__title {
      margin-bottom: 0;
      font-size: 18px;
    }
    .card4 {
      &__link {
        font-size: 9px;
      }
      &__desc {
        font-size: 8px;
      }
      &__price {
        font-size: 11px
      }
      &__btn {
        padding: 11px;
        font-size: 8px;
      }
    }
  }
}
