.header {
  padding-top: 63px;
  padding-bottom: 55px;
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(7px, 3vw, 30px);
  }

  &__box-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list-nav {
    display: flex;
    align-items: center;
    height: 100%;
    gap: clamp(5px, 2vw, 25px);

    li {
      a {
        white-space: nowrap;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 131%;
        color: var(--color-text-white);
        transition: color 0.4s ease-in-out;

        &:focus,
        &:focus-visible {
          outline: none;
        }

        &:hover,
        &:focus-visible,
        &:active {
          color: var(--color-2);
        }
      }
    }
  }

  &__link-log {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text-white);
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    transition: color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--color-2);
    }
  }

  &__link-connect {
    display: flex;
    align-items: center;
    padding: 14px 18px;
    border-radius: 90px;
    background-color: var(--yfvfy);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-text-black);
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--color-body);
      background-color: var(--color-2);
    }
  }

  &__burger-box {
    display: none;
  }
}

@media (max-width: 1210px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
    &__burger-box {
      display: flex;
    }
    &__container {
      position: relative;
    }
    &__burger {
      position: relative;
      padding: 9px 6px;
      width: 36px;
      height: 36px;
      min-width: 36px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        pointer-events: none;
        width: 100%;
        height: 3px;
        background-color: var(--color-text-white);
        transition: background-color 0.4s ease-in-out;
      }

      &.active {
        span {
          width: 80%;
          position: absolute;
          top: 50%;
          left: 10%;
        }

        span:first-child {
          transform: rotate(45deg);
        }
        span:nth-child(2) {
          display: none;
        }
        span:last-child {
          transform: rotate(-45deg);
        }
      }

      &:focus,&:focus-visible {
        outline: none;
      }

      &:hover,&:focus-visible,&:active {
        span {
          background-color: var(--yfvfy);
        }
      }
    }
    &__box-info{
      visibility: hidden;
      transform: translateY(-120%);
      width: 100%;
      position: absolute;
      justify-content: flex-start;
      gap: clamp(5px, 2vw, 25px);
      left: 0;
      z-index: 2;
      padding: 10px;
      top: calc(100%);
      background-color: var(--color-body);
      height: calc(100vh - 85px);
      flex-direction: column;
      transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;

      &.active {
        visibility: visible;
        transform: none;
      }

      .drop-down1 {
        display: none;
      }

      .search {
        display: none;
      }
    }
    &__list-nav {
      flex-direction: column;
    }
  }
}

@media (max-width: 900px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;

    &__box-info{
      height: calc(100vh - 75px);
    }
  }
}

@media (max-width: 650px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;

    &__box-info{
      height: calc(100vh - 60px);
    }
  }
}