.main-section-1 {
  &__content {
    margin-bottom: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    margin-right: 500px;
    position: absolute;
  }

  &__marker1 {
    position: absolute;
    top: -10px;
    right: 22%;
  }

  &__left {
    padding-top: 180px;
    width: calc(450 / 1200 * 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__right {
    width: calc(668 / 1200 * 100%);
    position: relative;

    .main-section-1__svg-beac {
      position: absolute;

      &.small {
        display: none;
      }
    }
  }

  &__left-top {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--color-2);
    }
  }

  &__left-bottom {
    max-width: 375px;
    display: flex;
    gap: 13px;
    align-items: start;
  }

  &__counter-man {
    white-space: nowrap;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--color-text-white);
  }

  &__desc {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-2);
  }

  &__decision {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-5);

    a {
      transition: color 0.4s ease-in-out;
      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:hover,
      &:focus-visible,
      &:active {
        color: var(--color-text-white);
      }
    }
  }

  &__bottom-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
  }
}

@media (max-width: 1290px) {
  .main-section-1 {
    &__left {
      padding-top: 255px;
    }
  }
}

@media (max-width: 1210px) {
  .main-section-1 {
    &__content {
      flex-direction: column;
    }
    &__marker1 {
      top: auto;
      bottom: 40%;
      right: auto;
    }
    &__title {
      margin-right: 0;
      width: 100%;
      position: static;
    }
    &__left {
      padding-top: 0;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__right {
      margin-left: auto;
    }
    &__bottom-list {
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
  } 
}

@media (max-width: 900px) {
  .main-section-1 {
    &__content {
      gap: 8px;
    }
    &__right {
      width: 80%;
    }
  }
}
@media (max-width: 650px) {
  .main-section-1 {
    &__content {
      margin-bottom: 80px;
    }
    &__left-top {
      gap: 9px;
      p {
        font-size: 14px;
      }
    }
    /*&__list {
      gap: 7px;
    }*/
    &__right {
      width: 100%;

      .main-section-1__svg-beac {
        &.big {
          display: none;
        }
  
        &.small {
          display: block;
        }
      }
    }
    
    &__marker1 {
      bottom: 45%;
    }

    &__left-bottom {
      max-width: 290px;
      gap: 10px;
      img {
        width: 18px;
        min-width: 18px;
        height: 18px;
      }
    }
    &__counter-man {
      font-size: 36px;
    }
    &__desc {
      font-size: 14px;
    }
    &__decision {
      position: relative;
      gap: 22px;
    }
    &__bottom-list {
      row-gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__top {
      a {
        max-width: 120px;
        position: absolute;
        bottom: 18px;
        right: 10px;
      }
    }
  }
}
@media (max-width: 512px) {
  .main-section-1 {
    &__content {
      margin-bottom: 40px;
    }
    &__marker1 {
      bottom: calc(130px + (290 - 130) * ((100vw - 320px) / (512 - 320)));
    }
  }
}