.service-support-section-4 {
  &__title {
    margin-bottom: 35px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .service-support-section-4 {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
@media (max-width: 650px) {
  .service-support-section-4 {
    &__title {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
}