.btn-video-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  min-width: 115px;
  height: 115px;
  border: 1px solid var(--color-text-white);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--color-text-white);
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;

  &:focus,&:focus-visible {
    outline: none;
  }

  &:focus-visible,&:hover,&:active {
    color: var(--yfvfy);
    border-color: var(--yfvfy);
  }

  &.hidden {
    display: none;
  }
}

@media (max-width: 650px) {
  .btn-video-play {
    width: 58px;
    min-width: 58px;
    height: 58px;

    svg {
      width: 17px;
      height: 20px;
    }
  }
}