.card9 {
  height: 100%;
  &__link {
    height: 100%;
    display: flex;
    gap: 36px;
    flex-direction: column;
    padding: 54px 70px 54px 43px;
    border-radius: 20px;
    background-color: var(--colof-9);
    outline: 1px solid var(--color-body);
    transition: outline-color 0.4s ease-in-out;

    &:focus,&:focus-visible {
      outline: none;
    }

    &:focus-visible,&:hover,&:active {
      outline-color: var(--colof-9);

      .card9__title {
        color: var(--yfvfy);
      }

      .card9__desc {
        color: var(--yfvfy);
      }
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--color-text-white);
    transition: color 0.4s ease-in-out;
  }

  &__desc {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-5);
    transition: color 0.4s ease-in-out;
  }
}

@media (max-width: 650px) {
  .card9 {
    &__link {
      padding: 27px 22px 30px;
      gap: 10px;
    }
    &__title {
      font-size: 20px;
      line-height: 120%;
    }
  }
}