.card7 {
  height: 100%;
  padding: 40px 26px;
  background-color: var(--yfvfy);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text-black);
  }
}
@media (max-width: 650px) {
  .card7{
    padding: 30px 27px;
    p {
      font-size: 14px;
    }
  }
}