.drop-down-2 {
  position: relative;
  &__btn {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-text-white);
    transition: color 0.4s ease-in-out;

    &:focus,&:focus-visible {
      outline: none;
    }

    &:focus-visible,&:hover,&:active {
      color: var(--yfvfy);
    }

    svg {
      transition: transform 0.4s ease-in-out;
    }

    span {
      text-align: start;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
    }

    &.active {
      svg {
        transform: rotate(180deg);
      }
      & + .drop-down-2__box {
        display: flex;
      }
    }
  }

  &__box {
    margin-bottom: 20px;
    display: none;
    flex-direction: column;
    gap: 14px;

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 13px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
      color: var(--color-text-white);
      transition: color 0.4s ease-in-out;

      &:focus-visible,&:hover,&:active {
        color: var(--yfvfy);
      }
      input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        visibility: hidden;

        &:focus,&:focus-visible {
          outline: none;
        }

        &[type="radio"] + .drop-down-2__castom{
          width: 20px;
          min-width: 20px;
          height: 20px;
          border-radius: 100%;
          border: 2px solid var(--yfvfy);
          transition: border 0.4s ease-in-out;
        }

        &[type="radio"]:checked + .drop-down-2__castom{
          border: 6px solid var(--yfvfy);
        }

        &[type="checkbox"] + .drop-down-2__castom{
          width: 18px;
          min-width: 18px;
          height: 18px;
          border-radius: 2px;
          border: 2px solid var(--yfvfy);
          transition: background-image 0.4s ease-in-out;
        }

        &[type="checkbox"]:checked + .drop-down-2__castom{
          border: none;
          background-image: url("../img/filter/ok.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}