.group-phones {
  display: flex;
  flex-direction: column;

  &__link {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    text-align: right;
    color: var(--color-text-white);
    transition: color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      color: var(--color-2);
    }
  }
}