.logo {
  display: flex;

  &__link {
    display: flex;

    &:focus,
    &:focus-visible {
      outline: 1px solid var(--colof-red);
    }
  }
}

@media (max-width: 650px) {
  .logo {
    max-width: 84px;
  }
}