.marker1 {
  max-width: 240px;
  &__top {
    display: flex;
    gap: 10px;
    align-items: center;

    span {
      width: 41px;
      min-width: 41px;
      height: 41px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--yfvfy);
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    color: var(--color-text-white);
  }

  p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-2);
  }
}