.search {
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-white);
    transition: color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--color-2);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 50%;
      transform: translate(50%, 30px);
      width: 0;
      height: 0;
      z-index: 0;
      opacity: 0;
      visibility: hidden;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 25px solid var(--color-text-white);
      //transition: z-index 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    }

    &.active::before {
      z-index: 3;
      opacity: 1;
      visibility: visible;
    }
  }

  &__form {
    width: 100%;
    position: absolute;
    left: 0px;
    top: calc(100% + 5px);
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 90px;
    padding: 11px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--color-text-white);
    //transition: z-index 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;

    &.active {
      z-index: 3;
      opacity: 1;
      visibility: visible;
    }
  }

  &__input {
    flex: 1;
    border: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-22);

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__btn-sabmit {
    color: var(--color-22);
    transition: color 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      color: var(--color-17);
    }
  }
}