.watch-rest{
  width: 100%;
  height: 100%;
  display: flex;

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: rgba(163, 218, 223);
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;

    &:focus,&:focus-visible {
      outline: none;
    }

    &:focus-visible,&:hover,&:active {
      opacity: 1;
    }
  }
}