<div class="about-company-drop-down">
  <button class="about-company-drop-down__btn btn-reset" id="openAboutCompany">
    <span>О нас</span>
    <svg width="10" height="6" viewBox="0 0 10 6">
      <use xlink:href="img/sprite.svg#newArrow"></use>
    </svg>
  </button>
  <ul class="about-company-drop-down__list list-reset" data-drop-id="openAboutCompany">
    <li>
      <a class="about-company-drop-down__link" href="#">
        О компании
      </a>
    </li>
    <li>
      <a class="about-company-drop-down__link" href="#">
        Банки-эвайеры
      </a>
    </li>
    <li>
      <a class="about-company-drop-down__link" href="#">
        Контакты
      </a>
    </li>
  </ul>
</div>