<div class="drop-down-2 drop-down-3">
  <button class="drop-down-2__btn btn-reset">
    <span>@@title</span>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7 10L12.0008 14.58L17 10" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
  <div class="drop-down-2__box">
    <label>
      <input type="radio" name="@@title" value="@@textRadio1">
      <span class="drop-down-2__castom"></span>
      @@textRadio1
    </label>
    <label>
      <input type="radio" name="@@title" value="@@textRadio2">
      <span class="drop-down-2__castom"></span>
      @@textRadio2
    </label>
  </div>
</div>