<div class="drop-down1">
  <div class="drop-down1__wrapp">
    <button class="drop-down1__btn btn-reset" id="openDrop1">
      <span>Узнать ставку по MCC коду</span>
      <svg width="12" height="7" viewBox="0 0 12 7">
        <use xlink:href="img/sprite.svg#drop1"></use>
      </svg>
    </button>
    <span class="drop-down1__info">3.2%</span>
  </div>
  <ul class="drop-down1__list list-reset" data-drop-id="openDrop1">
    <li>
      <a href="#">
        dfhdhdhdrrh
      </a>
    </li>
    <li>
      <a href="#">
        dfhdhdhdrrh
      </a>
    </li>
    <li>
      <a href="#">
        dfhdhdhdrrh
      </a>
    </li>
  </ul>
</div>