<div class="drop-down-1">
  <button class="drop-down-1__btn btn-reset" id="openDrop2">
    <span>@@text1</span>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7 10L12.0008 14.58L17 10" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
  <ul class="drop-down-1__list list-reset" data-drop-id="openDrop2">
    <li class="drop-down-1__item active"><span>@@text1</span></li>
    <li class="drop-down-1__item"><span>@@text2</span></li>
    <li class="drop-down-1__item"><span>@@text3</span></li>
  </ul>
</div>