<div class="drop-down1">
  <div class="drop-down1__wrapp">
    <button class="drop-down1__btn btn-reset" id="openDrop1">
      <span>Узнать ставку по MCC коду</span>
      <svg width="12" height="7" viewBox="0 0 12 7">
        <use xlink:href="img/sprite.svg#drop1"></use>
      </svg>
    </button>
    <span class="drop-down1__info">0,0%</span>
  </div>
  <ul class="drop-down1__list list-reset" data-drop-id="openDrop1">
    <li>
      <span>Вендинг самообслуживание</span>
      <span class="hidden">от 1,9%</span>
    </li>
    <li>
      <span>Рестораны быстрого обслуживания</span>
      <span class="hidden">от 1,6%</span>
    </li>
    <li>
      <span>Паркинги</span>
      <span class="hidden">от 2,1%</span>
    </li>
    <li>
      <span>Супермаркеты и бакалейные магазины</span>
      <span class="hidden">от 1,8%</span>
    </li>
    <li>
      <span>АЗС</span>
      <span class="hidden">от 1,8%</span>
    </li>
    <li>
      <span>Розничная торговля</span>
      <span class="hidden">от 2,2%</span>
    </li>
    <li>
      <span>Медицинские услуги, аптеки</span>
      <span class="hidden">от 1,7%</span>
    </li>
    <li>
      <span>Cалоны красоты, парикмахерская, массажный салон, продажа косметики</span>
      <span class="hidden">от 2,2%</span>
    </li>
    <li>
      <span>Цветы и флористика</span>
      <span class="hidden">от 2,2%</span>
    </li>
    <li>
      <span>Гостиничный бизнес, отели, хостел</span>
      <span class="hidden">от 2,2%</span>
    </li>
    <li>
      <span>Станции тех обслуживания, ремонт авто; продажа автозапчастей</span>
      <span class="hidden">от 2,2%</span>
    </li>
    <li>
      <span>Ветеринарные услуги зоомагазины</span>
      <span class="hidden">от 2,2%</span>
    </li>
    <li>
      <span>Прочие категории</span>
      <span class="hidden">от 1,99%</span>
    </li>
  </ul>
</div>