<div class="filter">
  <form class="filter__form">
    <h3 class="filter__title">
      Фильтры
    </h3>
    <ul class="filter__list list-reset">
      <li>
        @@include('./drop-down-3.html',{"title":"Тип терминала","textRadio1":"Стационарный","textRadio2":"Мобильный"})
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="filter__btn-group">
      <button class="filter__submit btn-reset">
        Подобрать
      </button>
      <button class="filter__close btn-reset">
        Сбросить фильтр
      </button>
    </div>
  </form>
</div>