<div class="search">
  <button class="search__btn btn-reset" id="openSearch">
    <svg width="16" height="16" viewBox="0 0 16 16">
      <use xlink:href="img/sprite.svg#search"></use>
    </svg>
  </button>
  <form class="search__form" data-drop-id="openSearch">
    <input class="search__input" type="text" name="search" id="searchInput">
    <button class="search__btn-sabmit btn-reset">
      <svg width="16" height="16" viewBox="0 0 16 16">
        <use xlink:href="img/sprite.svg#search"></use>
      </svg>
    </button>
  </form>
</div>