html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  background-color: #030829;
  position: relative;
}

.section {
  padding-top: 30px;
  padding-bottom: 100px;
}

.stop-scroll {
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}

:root {
  --font-family: "TTFirs-Bold", sans-serif;
  --second-family: "OpenSans", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "TT-Firs-Neue", sans-serif;
  --font5: "Kaspersky-Sans", sans-serif;
}

:root {
  --color-body: #030829;
  --color-text-white: #fff;
  --colof-red: #db3445;
  --color-text-black: #000;
  --yfvfy: #a3dadf;
  --color-1: rgba(0, 0, 0, 0.5);
  --color-2: rgba(255, 255, 255, 0.6);
  --color-3: rgba(0, 0, 0, 0.6);
  --color-4: #313131;
  --color-5: rgba(255, 255, 255, 0.8);
  --color-6: #b6b6b6;
  --colof-7: #d9d9d9;
  --colof-8: #f2f2f2;
  --colof-9: #0f183e;
  --color-10: rgba(0, 0, 0, 0.9);
  --color-11: rgba(255, 255, 255, 0.7);
}

.title {
  margin-bottom: 60px;
  font-family: var(--font4);
  font-weight: 500;
  font-size: 47px;
  line-height: 128%;
  color: var(--color-text-white);
}

@media (max-width: 1210px) {
  .container {
    padding: 0 10px;
  }
}
@media (max-width: 900px) {
  .section {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
@font-face {
  font-family: "TTFirs-Bold";
  src: local("ttfirs-bold"), url("../fonts/ttfirs-bold.woff2") format("woff2"), url("../fonts/ttfirs-bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("../fonts/Manrope-400.woff2") format("woff2"), url("../fonts/Manrope-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("../fonts/Manrope-500.woff2") format("woff2"), url("../fonts/Manrope-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("../fonts/Manrope-600.woff2") format("woff2"), url("../fonts/Manrope-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT-Firs-Neue";
  src: local("ttfirsneue-regular"), url("../fonts/ttfirsneue-regular.woff2") format("woff2"), url("../fonts/ttfirsneue-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kaspersky-Sans";
  src: local("Kaspersky-Sans-Regular"), url("../fonts/Kaspersky-Sans-Regular.woff2") format("woff2"), url("../fonts/Kaspersky-Sans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header {
  padding-top: 63px;
  padding-bottom: 55px;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(7px, 3vw, 30px);
}
.header__box-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list-nav {
  display: flex;
  align-items: center;
  height: 100%;
  gap: clamp(5px, 2vw, 25px);
}
.header__list-nav li a {
  white-space: nowrap;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: var(--color-text-white);
  transition: color 0.4s ease-in-out;
}
.header__list-nav li a:focus, .header__list-nav li a:focus-visible {
  outline: none;
}
.header__list-nav li a:hover, .header__list-nav li a:focus-visible, .header__list-nav li a:active {
  color: var(--color-2);
}
.header__link-log {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-text-white);
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  transition: color 0.4s ease-in-out;
}
.header__link-log:focus, .header__link-log:focus-visible {
  outline: none;
}
.header__link-log:hover, .header__link-log:focus-visible, .header__link-log:active {
  color: var(--color-2);
}
.header__link-connect {
  display: flex;
  align-items: center;
  padding: 14px 18px;
  border-radius: 90px;
  background-color: var(--yfvfy);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-black);
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.header__link-connect:focus, .header__link-connect:focus-visible {
  outline: none;
}
.header__link-connect:hover, .header__link-connect:focus-visible, .header__link-connect:active {
  color: var(--color-body);
  background-color: var(--color-2);
}
.header__burger-box {
  display: none;
}

@media (max-width: 1210px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__burger-box {
    display: flex;
  }
  .header__container {
    position: relative;
  }
  .header__burger {
    position: relative;
    padding: 9px 6px;
    width: 36px;
    height: 36px;
    min-width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__burger span {
    pointer-events: none;
    width: 100%;
    height: 3px;
    background-color: var(--color-text-white);
    transition: background-color 0.4s ease-in-out;
  }
  .header__burger.active span {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .header__burger.active span:first-child {
    transform: rotate(45deg);
  }
  .header__burger.active span:nth-child(2) {
    display: none;
  }
  .header__burger.active span:last-child {
    transform: rotate(-45deg);
  }
  .header__burger:focus, .header__burger:focus-visible {
    outline: none;
  }
  .header__burger:hover span, .header__burger:focus-visible span, .header__burger:active span {
    background-color: var(--yfvfy);
  }
  .header__box-info {
    visibility: hidden;
    transform: translateY(-120%);
    width: 100%;
    position: absolute;
    justify-content: flex-start;
    gap: clamp(5px, 2vw, 25px);
    left: 0;
    z-index: 2;
    padding: 10px;
    top: 100%;
    background-color: var(--color-body);
    height: calc(100vh - 85px);
    flex-direction: column;
    transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
  .header__box-info.active {
    visibility: visible;
    transform: none;
  }
  .header__box-info .drop-down1 {
    display: none;
  }
  .header__box-info .search {
    display: none;
  }
  .header__list-nav {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.drop-down1 {
  position: relative;
}
.drop-down1__wrapp {
  position: relative;
  padding-right: 50px;
}
.drop-down1__btn {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: clamp(5px, 2vw, 12px);
  padding: 3px 14px;
  border-radius: 46px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-1);
  background-color: var(--color-text-white);
  box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.05);
  transition: color 0.4s ease-in-out;
}
.drop-down1__btn:focus, .drop-down1__btn:focus-visible {
  outline: none;
}
.drop-down1__btn:hover, .drop-down1__btn:focus-visible, .drop-down1__btn:active {
  color: var(--color-body);
}
.drop-down1__btn svg {
  transition: transform 0.4s ease-in-out;
}
.drop-down1__btn.active svg {
  transform: rotate(180deg);
}
.drop-down1__info {
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  border-radius: 46px;
  padding: 3px 14px;
  background-color: var(--colof-red);
}
.drop-down1__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-radius: 20px;
  background-color: var(--color-text-white);
  padding: 3px 14px;
  transition: z-index 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.drop-down1__list.active {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.drop-down1__list li {
  display: flex;
}
.drop-down1__list li a {
  width: 100%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-1);
  transition: color 0.4s ease-in-out;
}
.drop-down1__list li a:focus, .drop-down1__list li a:focus-visible {
  outline: none;
}
.drop-down1__list li a:hover, .drop-down1__list li a:focus-visible, .drop-down1__list li a:active {
  color: var(--color-body);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-white);
  transition: color 0.4s ease-in-out;
}
.search__btn:focus, .search__btn:focus-visible {
  outline: none;
}
.search__btn:hover, .search__btn:focus-visible, .search__btn:active {
  color: var(--color-2);
}
.search__form {
  position: absolute;
  right: -10px;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 90px;
  padding: 14px 14px 14px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-4);
  transition: z-index 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.search__form.active {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}
.search__input {
  border: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: var(--color-text-white);
  border-bottom: 1px solid var(--color-text-white);
  background-color: transparent;
  transition: border-color 0.4s ease-in-out;
}
.search__input:focus, .search__input:focus-visible {
  outline: none;
}
.search__input:focus-visible, .search__input:hover, .search__input:active {
  border-color: var(--color-2);
}
.search__btn-sabmit {
  color: var(--color-text-white);
  transition: color 0.4s ease-in-out;
}
.search__btn-sabmit:focus, .search__btn-sabmit:focus-visible {
  outline: none;
}
.search__btn-sabmit:focus-visible, .search__btn-sabmit:hover, .search__btn-sabmit:active {
  color: var(--color-2);
}

.group-phones {
  display: flex;
  flex-direction: column;
}
.group-phones__link {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  text-align: right;
  color: var(--color-text-white);
  transition: color 0.4s ease-in-out;
}
.group-phones__link:focus, .group-phones__link:focus-visible {
  outline: none;
}
.group-phones__link:focus-visible, .group-phones__link:hover, .group-phones__link:active {
  color: var(--color-2);
}

.logo {
  display: flex;
}
.logo__link {
  display: flex;
}
.logo__link:focus, .logo__link:focus-visible {
  outline: 1px solid var(--colof-red);
}

@media (max-width: 650px) {
  .logo {
    max-width: 84px;
  }
}
.group-network__list {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.group-network__list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  min-width: 42px;
  border-radius: 100%;
  color: var(--color-body);
  background-color: var(--color-text-white);
  transition: background-color 0.4s ease-in-out;
}
.group-network__list a:focus, .group-network__list a:focus-visible {
  outline: none;
}
.group-network__list a:hover, .group-network__list a:focus-visible, .group-network__list a:active {
  background-color: var(--color-2);
}

.footer-card {
  padding: 30px 30px 40px;
  border-radius: 25px;
  background-color: var(--colof-9);
}
.footer-card__title {
  margin-bottom: 32px;
  font-family: var(--font4);
  font-weight: 500;
  font-size: 47px;
  line-height: 128%;
  color: var(--color-text-white);
}
.footer-card__btn {
  width: 100%;
  padding: 25px;
  border-radius: 15px;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: var(--color-text-white);
  background-color: var(--colof-red);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.footer-card__btn:focus, .footer-card__btn:focus-visible {
  outline: none;
}
.footer-card__btn:hover, .footer-card__btn:focus-visible, .footer-card__btn:active {
  color: var(--color-body);
  background-color: var(--color-2);
}

.main-section-1__content {
  margin-bottom: 150px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main-section-1__title {
  margin-right: 500px;
  position: absolute;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 74px;
  line-height: 101%;
  color: var(--color-text-white);
}
.main-section-1__marker1 {
  position: absolute;
  top: -10px;
  right: 22%;
}
.main-section-1__left {
  padding-top: 180px;
  width: 37.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-section-1__right {
  width: 55.6666666667%;
  position: relative;
}
.main-section-1__right .main-section-1__svg-beac {
  position: absolute;
}
.main-section-1__right .main-section-1__svg-beac.small {
  display: none;
}
.main-section-1__left-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-section-1__left-top p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-2);
}
.main-section-1__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-section-1__list li {
  padding-left: 20px;
  background-image: url(../img/main/section-1/check1.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.main-section-1__left-bottom {
  max-width: 375px;
  display: flex;
  gap: 13px;
  align-items: start;
}
.main-section-1__counter-man {
  white-space: nowrap;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  color: var(--color-text-white);
}
.main-section-1__desc {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-2);
}
.main-section-1__decision {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.main-section-1__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-5);
}
.main-section-1__top a {
  transition: color 0.4s ease-in-out;
}
.main-section-1__top a:focus, .main-section-1__top a:focus-visible {
  outline: none;
}
.main-section-1__top a:hover, .main-section-1__top a:focus-visible, .main-section-1__top a:active {
  color: var(--color-text-white);
}
.main-section-1__bottom-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

@media (max-width: 1290px) {
  .main-section-1__left {
    padding-top: 255px;
  }
}
@media (max-width: 1210px) {
  .main-section-1__content {
    flex-direction: column;
  }
  .main-section-1__marker1 {
    top: auto;
    bottom: 40%;
    right: auto;
  }
  .main-section-1__title {
    margin-right: 0;
    width: 100%;
    position: static;
  }
  .main-section-1__left {
    padding-top: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .main-section-1__right {
    margin-left: auto;
  }
  .main-section-1__bottom-list {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .main-section-1__content {
    gap: 8px;
  }
  .main-section-1__title {
    font-size: 54px;
  }
  .main-section-1__right {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .main-section-1__content {
    margin-bottom: 80px;
  }
  .main-section-1__title {
    font-size: 32px;
  }
  .main-section-1__left-top {
    gap: 9px;
  }
  .main-section-1__left-top p {
    font-size: 14px;
  }
  .main-section-1__list {
    gap: 7px;
  }
  .main-section-1__right {
    width: 100%;
  }
  .main-section-1__right .main-section-1__svg-beac.big {
    display: none;
  }
  .main-section-1__right .main-section-1__svg-beac.small {
    display: block;
  }
  .main-section-1__marker1 {
    bottom: 45%;
  }
  .main-section-1__left-bottom {
    max-width: 290px;
    gap: 10px;
  }
  .main-section-1__left-bottom img {
    width: 18px;
    min-width: 18px;
    height: 18px;
  }
  .main-section-1__counter-man {
    font-size: 36px;
  }
  .main-section-1__desc {
    font-size: 14px;
  }
  .main-section-1__decision {
    position: relative;
    gap: 22px;
  }
  .main-section-1__bottom-list {
    row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-section-1__top a {
    max-width: 120px;
    position: absolute;
    bottom: 18px;
    right: 10px;
  }
}
.marker1 {
  max-width: 240px;
}
.marker1__top {
  display: flex;
  gap: 10px;
  align-items: center;
}
.marker1__top span {
  width: 41px;
  min-width: 41px;
  height: 41px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yfvfy);
}
.marker1__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  color: var(--color-text-white);
}
.marker1 p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-2);
}

@media (max-width: 650px) {
  .marker1 {
    max-width: 140px;
  }
  .marker1__top span {
    width: 24px;
    min-width: 24px;
    height: 24px;
  }
  .marker1__title {
    font-size: 18px;
  }
  .marker1 p {
    font-size: 9px;
  }
}
.slider-hero__swiper-slide {
  height: auto;
}
.slider-hero__group-btn {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: 30px;
  right: 40px;
  z-index: 3;
}
.slider-hero__btn {
  display: flex;
  align-items: center;
  color: var(--color-4);
  transition: color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.slider-hero__btn:focus, .slider-hero__btn:focus-visible {
  outline: none;
}
.slider-hero__btn:hover, .slider-hero__btn:focus-visible, .slider-hero__btn:active {
  color: var(--yfvfy);
}
.slider-hero__btn.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.card1 {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.card1__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40.4191616766%;
  padding: 210px 0 35px 35px;
}
.card1__img {
  width: 59.5808383234%;
}
.card1__img img {
  max-height: 427px;
}
.card1__link-title {
  display: inline-block;
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--color-text-black);
  transition: color 0.4s ease-in-out;
}
.card1__link-title:focus, .card1__link-title:focus-visible {
  outline: none;
}
.card1__link-title:hover, .card1__link-title:focus-visible, .card1__link-title:active {
  color: var(--yfvfy);
}
.card1__desc {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-1);
}
.card1__link {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-4);
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--color-4);
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}
.card1__link:focus, .card1__link:focus-visible {
  outline: none;
}
.card1__link:hover, .card1__link:focus-visible, .card1__link:active {
  color: var(--yfvfy);
  border-color: var(--yfvfy);
}
.card1__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 650px) {
  .card1__link-title {
    font-size: 16px;
  }
  .card1__desc {
    font-size: 14px;
  }
}
.card2 {
  display: flex;
  border-radius: 20px;
  padding: 30px 40px 35px;
  flex-direction: column;
  gap: 15px;
  background-color: var(--yfvfy);
  transition: background-color 0.4s ease-in-out;
}
.card2:focus, .card2:focus-visible {
  outline: none;
}
.card2:hover, .card2:focus-visible, .card2:active {
  background-color: var(--color-text-white);
}
.card2 img {
  width: 24px;
  min-width: 24px;
  height: 24px;
}
.card2 p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  color: var(--color-4);
}

.main-section-2__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1210px) {
  .main-section-2__list {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .main-section-2__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card3 img {
  width: 36px;
  min-width: 36px;
  height: 36px;
  margin-bottom: 20px;
}
.card3 h3 {
  margin-bottom: 5px;
  font-family: var(--font4);
  font-weight: 500;
  font-size: 22px;
  color: var(--color-text-white);
}
.card3 p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-6);
}

.slider-partners {
  display: flex;
  gap: 13px;
}
.slider-partners__swiper {
  height: 93px;
  overflow: hidden;
}
.slider-partners__btn-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-partners__btn {
  color: var(--yfvfy);
  transition: color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.slider-partners__btn.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.slider-partners__btn:focus, .slider-partners__btn:focus-visible {
  outline: none;
}
.slider-partners__btn:hover, .slider-partners__btn:focus-visible, .slider-partners__btn:active {
  color: var(--color-text-white);
}
.slider-partners__swiper-slide {
  display: flex;
  height: auto;
}
.slider-partners__swiper-wrapper.loaded li {
  margin-right: 20px;
  max-width: 175px;
}
.slider-partners__swiper-slide-wrapp {
  height: 100%;
  width: 100%;
  display: flex;
}
.slider-partners__swiper-slide-wrapp a {
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-text-white);
  padding: 20px;
  background-color: var(--color-text-white);
}
.slider-partners__swiper-slide-wrapp a:focus, .slider-partners__swiper-slide-wrapp a:focus-visible {
  outline: none;
}
.slider-partners__swiper-slide-wrapp a:focus-visible, .slider-partners__swiper-slide-wrapp a:hover, .slider-partners__swiper-slide-wrapp a:active {
  border-color: var(--color-body);
}

.main-section-3__top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main-section-3__title {
  margin-bottom: 0px;
}
.main-section-3__title-group p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-5);
}
.main-section-3__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 44px;
  border-radius: 10px;
  background-color: var(--colof-red);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 151%;
  color: var(--color-text-white);
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.main-section-3__btn:focus, .main-section-3__btn:focus-visible {
  outline: none;
}
.main-section-3__btn:focus-visible, .main-section-3__btn:hover, .main-section-3__btn:active {
  color: var(--color-body);
  background-color: var(--color-2);
}

@media (max-width: 900px) {
  .main-section-3__top {
    flex-direction: column;
    align-items: center;
  }
  .main-section-3__title-group {
    text-align: center;
  }
}
.background-body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../img/beac-body/1.png"), url("../img/beac-body/2.png"), url("../img/beac-body/3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top right, top 30% left, bottom 10% right;
}

@media (max-width: 1210px) {
  .background-body {
    display: none;
  }
}
.quiz-container {
  position: relative;
  display: flex;
  padding: 60px;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  background-color: var(--color-text-white);
}
.quiz-container__counter {
  position: absolute;
  top: 52px;
  right: 52px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 23px;
  color: var(--color-4);
  display: flex;
  gap: 7px;
  align-items: start;
}
.quiz-container__counter span:last-child {
  padding-top: 2px;
  font-size: 14px;
}
.quiz-container__form {
  width: 60.1851851852%;
}
.quiz-container__img {
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: center;
}
.quiz-container__question {
  display: none;
  margin-bottom: 82px;
}
.quiz-container__question.active {
  display: block;
}
.quiz-container__question p {
  margin-bottom: 24px;
  font-family: var(--font4);
  font-weight: 500;
  font-size: 22px;
  line-height: 177%;
  color: var(--color-4);
}
.quiz-container__question input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.quiz-container__question input[type=radio]:checked + span {
  background-color: var(--yfvfy);
}
.quiz-container__question label {
  display: flex;
  cursor: pointer;
  border-radius: 15px;
}
.quiz-container__question label:nth-child(2) {
  margin-bottom: 12px;
}
.quiz-container__question label span {
  border-radius: 15px;
  padding: 17px 28px;
  width: 100%;
  height: 100%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text-black);
  background-color: var(--colof-8);
  transition: background-color 0.4s ease-in-out;
}
.quiz-container__navigation {
  display: flex;
  gap: 15px;
  align-items: stretch;
}
.quiz-container__navigation button {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colof-red);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  border: 2px solid transparent;
  text-align: center;
  color: var(--color-text-white);
  transition: opacity 0.4s ease-in-out, border-color 0.4s ease-in-out;
}
.quiz-container__navigation button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.quiz-container__navigation button:focus, .quiz-container__navigation button:focus-visible {
  outline: none;
}
.quiz-container__navigation button:focus-visible, .quiz-container__navigation button:hover, .quiz-container__navigation button:active {
  border-color: var(--color-text-white);
}
.quiz-container__navigation button:first-child {
  padding: 20px 30px;
}
.quiz-container__navigation button:last-child {
  flex: 1;
}

@media (max-width: 1210px) {
  .quiz-container {
    padding: 20px;
  }
}
@media (max-width: 900px) {
  .quiz-container {
    padding: 10px;
    flex-direction: column-reverse;
  }
  .quiz-container__form {
    width: 100%;
  }
}
.box-swiper__top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.box-swiper__title {
  margin-bottom: 0;
}
.box-swiper__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.4s ease-in-out;
}
.box-swiper__link svg {
  color: var(--yfvfy);
}
.box-swiper__link:focus, .box-swiper__link:focus-visible {
  outline: none;
}
.box-swiper__link:focus-visible, .box-swiper__link:hover, .box-swiper__link:active {
  color: var(--yfvfy);
}
.box-swiper__swiper-slide {
  height: auto;
}

.card4 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  border: 1px solid rgba(25, 25, 50, 0.3);
  border-radius: 20px;
  box-shadow: inset 0 0 14px 0 rgba(0, 3, 81, 0.3);
  background: linear-gradient(180deg, #131e4e 80.67%, #263573 100%);
}
.card4__img-box {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.card4__info {
  height: 100%;
  padding: 26px 33px 30px 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card4__link {
  margin-bottom: 14px;
  font-family: var(--font4);
  font-weight: 500;
  font-size: 22px;
  color: var(--color-text-white);
  transition: color 0.4s ease-in-out;
}
.card4__link:focus, .card4__link:focus-visible {
  outline: none;
}
.card4__link:focus-visible, .card4__link:hover, .card4__link:active {
  color: var(--yfvfy);
}
.card4__desc {
  margin-bottom: 30px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.61);
}
.card4__price {
  margin-bottom: 26px;
  font-family: var(--font4);
  font-weight: 500;
  font-size: 26px;
  color: var(--color-text-white);
}
.card4__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid var(--colof-red);
  padding: 20px;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: var(--color-text-white);
  background-color: var(--colof-red);
  transition: border-color 0.4s ease-in-out;
}
.card4__btn:focus, .card4__btn:focus-visible {
  outline: none;
}
.card4__btn:focus-visible, .card4__btn:hover, .card4__btn:active {
  border-color: rgba(25, 25, 50, 0.3);
}

.box-contact-us-section__content {
  display: flex;
}
.box-contact-us-section__left {
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: 20px;
  width: 47.75%;
  background: linear-gradient(44deg, #23326f 0%, #131e4e 100%);
}
.box-contact-us-section__left img {
  object-fit: cover;
}
.box-contact-us-section__right {
  position: relative;
  border-radius: 0 20px 20px 0;
  padding: 32px 37px;
  flex: 1;
  background-color: var(--yfvfy);
}
.box-contact-us-section__right::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-color: var(--yfvfy);
}
.box-contact-us-section__form {
  display: flex;
  flex-direction: column;
}
.box-contact-us-section__form h4 {
  font-family: var(--font4);
  font-weight: 600;
  font-size: 47px;
  line-height: 115%;
  color: var(--color-text-black);
}
.box-contact-us-section__form .form__desc-top {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-10);
}
.box-contact-us-section__form input {
  width: 100%;
  margin-bottom: 20px;
}
.box-contact-us-section__form button {
  margin-bottom: 20px;
  width: 100%;
  max-width: 290px;
}
.box-contact-us-section__form .form__desc-bottom {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: var(--color-text-black);
}

@media (max-width: 900px) {
  .box-contact-us-section__content {
    flex-direction: column;
  }
  .box-contact-us-section__left {
    width: 100%;
    justify-content: center;
    border-radius: 20px 20px 0 0;
  }
  .box-contact-us-section__right {
    border-radius: 0 0 20px 20px;
  }
  .box-contact-us-section__right::before {
    display: none;
  }
}
.input1 {
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--color-11);
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 17px;
  color: var(--color-text-black);
  transition: border-color 0.4s ease-in-out;
}
.input1:focus, .input1:focus-visible {
  outline: none;
}
.input1:focus-visible, .input1:hover, .input1:active {
  border-color: var(--yfvfy);
}

.btn1 {
  padding: 19px;
  border-radius: 12px;
  border: 1px solid var(--colof-red);
  background-color: var(--colof-red);
  font-family: var(--font3);
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: var(--color-text-white);
  transition: border-color 0.4s ease-in-out;
}
.btn1:focus, .btn1:focus-visible {
  outline: none;
}
.btn1:focus-visible, .btn1:hover, .btn1:active {
  border-color: var(--yfvfy);
}

.footer {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: var(--color-body);
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__box-logo-mob {
  display: none;
}
.footer__box-left {
  width: 31.25%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
}
.footer__group-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__group-top .logo__link {
  width: 170px;
}
.footer__group-top .logo__link img {
  width: 100%;
}
.footer__phons, .footer__emails {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.footer__phons p, .footer__emails p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 75%;
  color: var(--color-text-white);
}
.footer__emails a {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  text-align: right;
  color: var(--color-text-white);
  transition: color 0.4s ease-in-out;
}
.footer__emails a:focus, .footer__emails a:focus-visible {
  outline: none;
}
.footer__emails a:focus-visible, .footer__emails a:hover, .footer__emails a:active {
  color: var(--color-2);
}
.footer__info-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__desc, .footer__link {
  display: block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 108%;
  opacity: 0.5;
  color: var(--color-text-white);
  transition: opacity 0.4s ease-in-out;
}
.footer__link:focus, .footer__link:focus-visible {
  outline: none;
}
.footer__link:hover, .footer__link:focus-visible, .footer__link:active {
  opacity: 1;
}
.footer__box-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60.8333333333%;
}
.footer__box-top {
  display: flex;
  gap: clamp(35px, 10vw, 85px);
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__list a {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-text-white);
  transition: color 0.4s ease-in-out;
}
.footer__list a:focus, .footer__list a:focus-visible {
  outline: none;
}
.footer__list a:hover, .footer__list a:focus-visible, .footer__list a:active {
  color: var(--color-2);
}

@media (max-width: 900px) {
  .footer {
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
  }
  .footer__content {
    flex-direction: column-reverse;
    gap: 25px;
  }
  .footer__box-logo-mob {
    display: flex;
  }
  .footer__box-left .logo {
    display: none;
  }
  .footer__box-right {
    width: 100%;
  }
}